*{
    margin: 0px 2px;
    
}
p{
    color:rgb(100,100,100);
}
input{
    width:390px;
    height:30px;
    margin-top:5px;
    margin-bottom:15px;
}
button{
    color:white;
    background-color:rgb(9, 125, 233);
    border:none;
    margin-top:15px;
    padding:14px 150px;
    border-radius:20px;
    font-size:16px;
}