*{
    vertical-align:middle;
    font-family:Arial;
}
.meow{
    height:35px;
    width:35px;
    border-radius:20px;
    margin-right:4px;
}
span{
    color:rgb(100,100,100);
    margin-right: 70px;
    font-size:12px;
}
button{
    color:white;
    font-weight:bold;
    background-color:rgb(50, 164, 236);
    border:none;
    padding: 5px 10px;
    border-radius:12px;
    font-size:12px;
}